<div class="success-wrapper">
  <app-logo></app-logo>
  <h1>EL NÚMERO DE RADICADO ES</h1>
  <div class="radicado-container">
    <span><b>#{{radicado}}</b></span>
  </div>
  <p style="font-weight: bold;">Fecha de radicación:</p>
  <div class="radicado-container">
    <span><b>{{date ? (date | date: 'yyyy/MM/dd') : '--/--/----'}}</b></span>
  </div>
  <p>Si lo desea, descargue el soporte de radicación</p>
  <a [href]="url" class="margin-bottom" target="_blank">click aqui</a>
  <p>Gracias por realizar su radicación, nuestro equipo hará la respectiva verificación para continuar con el proceso.</p>
  <div class="buttons-wrapper">
      <button class="btn btn-purpple" (click)="goToHome()">Cerrar</button>
  </div>
</div>